.addBudgetFormContainer {
  display: flex;
  flex: 1 1;
  padding: 0 20px;
  .left, .right {
    .inputField {
      h5 {
        font-size: 1rem;
      }
      &:nth-child(1) {
        padding: 20px 0;
      }
    }
  }
}
