@import '../../../static/styles/colors';

.preloader {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.progressBar {
  width: 75px;
  height: 75px;

  .count {
    color: var(--cyan-200);
    font-weight: 600;
    font-size: 1.2rem;
    position: absolute;
    top: 1.4rem
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow-x: hidden !important;

  .row {
    color: var(--basic-350);
    padding: 20px 40px;
    background: var(--background-w);
    cursor: pointer;
    border-bottom: 1px solid var(--basic-050);
    border-top: 1px solid var(--basic-050);

    .main {
      display: flex;
      flex-direction: row;

      .left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .image {
          font-size: 2rem;

          .icon {
            padding: 14px;
            border-radius: 3px;
            height: 56px;
            width: 56px;
            background-color: $basic-050;
          }

          .nativeImg {
            width: 56px;
            height: 56px;
            background-size: cover;
            border-radius: 3px;
          }
        }
      }
    }

    .info {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.2s linear, padding-top 0.15s linear, margin-top 0.15s linear;
    }

    &.opened {
      .info {
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #{rgba(var(--basic-300), 0.4)};
        transition: max-height 0.3s linear, padding-top 0.3s linear, margin-top 0.3s linear;
        max-height: 100vh;
      }
    }

    &:hover {
      border-bottom: 1px solid var(--cyan-200);
      border-top: 1px solid var(--cyan-200);

      & .left {
        & .image {
          color: var(--cyan-400);
        }
      }

      & .middle {
        .countProjects {
          .icon {
            color: var(--cyan-200);
          }
        }
      }
    }

    .left,
    .right, .middle, .column {
      display: flex;
      justify-content: center;
    }

    .left, .column {
      flex-direction: column;
    }

    .column {

    }

    .marginRight {
      margin-right: 10px;
    }

    .left {

    }

    .middle {
      flex: 0.9 1;
      padding: 0 1rem 0 40px;
      justify-content: space-between;

      .name {
        font-weight: 600;
        color: var(--basic-750);
        font-size: 1.2rem;
        display: flex;
        align-items: center;
      }

      .address {
        color: var(--basic-300);
      }

      .status {
        color: var(--basic-300);
      }
    }

    .right {
      flex: 0.2 0;
      align-items: center;
      justify-content: flex-end;

      .column {
        .quarter {
          padding-right: 10px;
        }
      }
    }
  }
}
