@import "../../../static/styles/colors";

.filterContainer {
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.11);
  background-color: var(--basic-w);
  width: 550px;
  min-height: 250px;
  margin: 6px 0 6px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    h5 {
      padding-bottom: 5px;
      font-size: 16px;
    }

    .left {
      width: 300px;
    }

    .sorter {

      display: flex;
      padding-left: 20px;
      flex-direction: column;
      width: 280px;
      max-height: 550px;

      .sortingContainer {
        overflow-y: auto;

        .typeContainer {
          padding: 5px;
          border-radius: 3px;

          .sortTitle {
            display: block;
            width: 100%;
            border-bottom: 1px solid rgba($basic-900, 0.1);
            font-weight: 600;
            padding-bottom: 5px;
            margin-bottom: 5px;
          }

          .selectedIcon {
            color: red !important;
          }

          .sortBtn {
            font-size: 12px !important;
            span {
              font-size: 12px !important;
            }
            font-weight: 400;
          }

          .rotateIcon {
            transform: rotate(180deg);
          }
        }
      }
    }

  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: var(--basic-030);
    border-top: 1px solid rgba($basic-900, 0.11);
    .resetBtn {
      border: none;
      background-color: unset;
      margin-right: 20px;
      &:hover {
        color: var(--basic-600);
      }
    }
  }

  .title {
    margin-top: 20px;
  }

  .dayPicker {
    & > div {
      width: 100%;
    }
  }
}
