@import 'static/styles/colors';
@import 'static/styles/fonts';

.noFavoritesItemsContainer {
    width: 100%;
    margin-top: 30px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .image {
        margin: 0 95px 0 35px;
    }

    .title {
        max-width: 500px;
        font-size: $H5;
        line-height: 28px;
        font-weight: 500;
        color: var(--basic-750);
    }

    .tizer {
        margin-top: 25px;
        max-width: 500px;
        font-size: $P;
        line-height: 22px;
        color: var(--basic-700);
    }
}

.favoritesListItemContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    


    .row {
        color: var(--basic-350);
        padding: 20px 40px;
        background: var(--background-w);
        cursor: pointer;
        border-bottom: 1px solid var(--basic-050);
        border-top: 1px solid var(--basic-w);

        .main {
            display: flex;
            flex-direction: row;

            .left {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .image {
                    font-size: 2rem;

                    .icon {
                        padding: 14px;
                        border-radius: 3px;
                        height: 56px;
                        width: 56px;
                        background-color: $basic-050;
                    }

                    .nativeImg {
                        width: 56px;
                        height: 56px;
                        background-size: cover;
                        border-radius: 3px;
                    }
                }
            }

            .middle {
                flex: 1 1;
                padding: 0 1rem 0 40px;
                justify-content: space-between;
    
                .name {
                    font-weight: 600;
                    color: var(--basic-750);
                    font-size: 1.2rem;
                    display: flex;
                    align-items: center;
                }
    
                .address {
                    color: var(--basic-300);
                }
    
                .status {
                    color: var(--basic-300);
                }
            }
    
            .right {
                flex: 0.3 0;
                align-items: center;
                justify-content: flex-end;

                .kebabMenuWrapper {
                    position: relative;

                    .kebabIcon {
                        margin-left: 15px;
                        font-size: 2.5rem;
                        color: var(--cyan-200);
                        visibility: hidden;
                    }
    
                    .kebabMenu {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        position: absolute;
                        bottom: -100%;
                        left: calc(100% - 193px);
                        width: 193px;
                        height: 44px;
                        border-radius: 2px;
                        background: var(--basic-750);
                        font-size: 18px;
                        line-height: 18px;
                        color: var(--basic-200);
                        padding: 10px;

                        .label {
                            margin-left: 10px;
                            font-size: 13px;
                        }
                    }
                }

            }
        }

        &:hover {
            border-bottom: 1px solid var(--cyan-200);
            border-top: 1px solid var(--cyan-200);

            & .left {
                & .image {
                    color: var(--cyan-400);
                }
            }

            & .middle {
                .countProjects {
                    .icon {
                        color: var(--cyan-200);
                    }
                }
            }

            .right {
                .kebabMenuWrapper .kebabIcon {
                    visibility: visible;
                }
            }
        }

        .left, .right, .middle, .column {
            display: flex;
            justify-content: center;
        }

        .left, .column {
            flex-direction: column;
        }

        .column {
            width: 100%;
        }

        .marginRight {
            margin-right: 10px;
        }
    }
}
