.listBody {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .fileType {
    width: 40px;
  }

  .fileIndex {
    width: 80px;
  }

  .fileDelete {
    width: 40px;
  }

  &.filePending {
    color: var(--basic-250);
  }

  .left {
    align-items: center;
    padding-left: 10px;
    display: flex;
    flex: 0.6 1;
    justify-content: flex-start;
    .icon {
      font-size: 1rem;
    }
  }

  .right {
    display: flex;
    flex: 0.4 1;
    justify-content: space-between;
    align-items: center;

    .deleteBtn {
      font-size: 0.8rem;
      padding: 2px 7px;
      min-height: 30px;
    }
  }
}
