.attachmentContainer {
  //cursor: pointer;
  //width: 50px;
  //height: 50px;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //border-radius: 5px;
  &:hover {
    background-color: var(--basic-200);
  }
  .icon {
    font-size: 1.4rem !important;
  }
}