@import "src/static/styles/colors";
@import "src/static/styles/mixins";

.mapContainer {
  display: flex;
  height: inherit;
  flex: 1 1;
}

.entityInfo {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  padding: 10px;
}

@include invertDark('.nav .imageWrapper .image');


.nav {
  display: flex;
  position: absolute;
  right: 0;
  width: 362px;
  height: calc(100% - 161px);
  flex-direction: column;
  z-index: 1000;
  transition: width .3s;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0);

  .link {
    * {
      color: var(--cyan-500);
    }

    &:hover {
      *{
        color: var(--cyan-700);
      }
    }
  }

  &.shorten {
    width: 0px;
  }

  .contentContainer {
    display: flex;
    align-items: center;
    padding: 20px 10px 0 10px;
  }

  .imageWrapper {
    width: 362px;
    display: flex;
    height: 220px;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    flex-grow: 0;
    border-top: 1px solid var(--basic-100);
    border-bottom: 1px solid var(--basic-100);

    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
    .iconWrapper{
      font-size: 4rem;
    }
  }

  .rightMenuTitle {
    padding: 10px;
    color: var(--basic-750);
  }
}
