@import "src/static/styles/colors";
@import "src/static/styles/mixins";

.breadCrumbs {
  display: flex;

  .breadCrumb {
    display: flex;
    padding: 0 2px;
    color: var(--basic-400);
    & .link {
      color: var(--basic-500);
      max-width: 450px;
      @include one-line-with-ellipsis();
      &:hover {
        color: var(--basic-600);
      }
    }
    > span {
      min-width: 14px;
    }
    &.isCurrent {
      color: var(--basic-200);
      & .link {
        color: var(--basic-200);
      }
    }
  }
}