@import '../../../static/styles/colors.scss';
@import '../../../static/styles/fonts.scss';

.content {
  position: relative;
}
.input,
.dropdown {
  font-size: 0.85rem;
  width: 100%;
  position: relative;
  border-radius: 2px;
  border: 1px solid var(--basic-150);
  color: var(--basic-400);
  outline: none;
  background: transparent;
  &.disabled {
    color: var(--basic-150);
    background-color: var(--basic-030);
  }
}
.input {
  padding: 7px 7px;
  cursor: pointer;
  background-color: var(--basic-w);
  &:hover, &:focus {
    border: 1px solid var(--cyan-500);
  }
}
.dropdown {
  position: absolute;
  height: 0;
  top: calc(100% + 0.5rem);
  border-color: transparent;
  overflow: hidden;
  transition: height .1s linear, border-color .1s linear;
  z-index: 999;

  &.dropdownActive {
    box-shadow: 0px 3px 4px rgba(59, 60, 69, 0.1), 0px 0px 3px rgba(59, 60, 69, 0.08);
    background: var(--background-w);
  }
}
.icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -7px;
  right: 9px;
  cursor: pointer;
  &.iconLine {
    font-size: 1.2rem !important;
      transform: rotate(90deg);
  }
  &.isOpen {
    transform: rotate(0deg);
    right: 12px;
  }
  &.disabled {
    visibility: hidden;
  }
}
.inputWrapper {
  position: relative;
  &:hover {
    > input {
      border: 1px solid var(--basic-600);
    }
  }
}

.close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;

  span {
    display: block;
  }
}
.item {
  color: var(--basic-600);
  padding: 5px 10px;
  cursor: pointer;
}
.itemHover {
  background: rgba(129, 145, 179, .08);
}
.itemActive {
  position: relative;
  display: flex;
  justify-content: space-between;
  > span {
    position: absolute;
    right: 0;
    bottom: 3px;
    font-size: 1.8em;
    color: var(--cyan-500);
  }
}
