@import '../../static/styles/colors';

.widgetContainer {
  height: inherit;
  display: flex;
  justify-content: space-around;

  .contentContainer {
    display: flex;
    flex: 1 1;
    box-shadow: 0 0 2px 1px #e6e7e9;
    border-radius: 5px;

    .fullWidth {
      flex: 1 1;
      background-color: var(--background-w);
      border-radius: 5px;
    }

    .col {
      display: flex;
      flex-direction: column;
    }

    &:hover {
      .drag {
        opacity: 100;
        transition: 0.2s ease-in-out;
        background-color: var(--basic-200);
        background-blend-mode: normal;
        width: 25px;

        .close {
          display: flex;
        }
      }
    }

    .drag {
      width: 0;
      cursor: grab;
      //background-color: var(--background-w);
      background-color: var(--basic-500);
      transition: 0.2s ease-in-out;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      .close {
        display: none;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        font-size: 0.6rem;
        cursor: pointer;
      }
    }

    .row {
      display: flex;
      flex-direction: row;
    }
  }

  .spinner {
    display: flex;
    align-self: center;
  }
}
