.fileBody {
  width: 100%;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .itemTitle {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    font-size: 0.8rem;
  }
}
