.noResultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  .image {
    padding-bottom: 20px;
    width: 160px;
    height: 154px;
  }
}