@import '../../static/styles/colors';
@import "src/static/styles/mixins";


.componentWrapper {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .headerLeft {
  }

  .headerRight {
    font-size: 1rem;

    .editMeta {
      padding: 0.5rem;
      margin-right: 0.5rem;
      line-height: 0.8rem;
    }
  }

  .content {
    display: table;
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;

    .noFieldsContainer {
      width: 300px;
      display: flex;
      justify-content: space-around;

      .title {
        text-align: center;
      }
    }
  }

  .headerTitle {
    color: var(--basic-300);
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .contentRow {
    display: flex;
    border-bottom: 1px solid var(--basic-150);

    &:last-child {
      border-bottom: none;
    }
  }

  .contentCell {
    font-size: 1rem;
    padding: 12px 0;
    color: var(--basic-750);
    font-weight: 500;
    width: 100%;
    .editableField {
      height: unset;
      min-height: 1rem;
    }
  }

  .contentCellName {
    width: 280px;
    padding-right: 45px;
    color: var(--basic-350);
    font-size: 16px;
    font-weight: 400;
  }
}
