@import "src/static/styles/colors.scss";
@import "src/static/styles/fonts.scss";

.signIn {
  margin-bottom: 64px;
  font-size: $H1;
  font-weight: 600;
  color: var(--basic-w);
}
.email {
  margin-bottom: 48px;
}
.submitBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .forgotPass {
    font-size: 14px;
    color: var(--basic-400);
  }
  .submit {
    width: 128px;

    button {
      width: 100%;
      height: 48px;
      cursor: pointer;
    }
  }
}