@import "../../static/styles/colors";

.fieldContainer {

  span {
    font-size: inherit;
  }

  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: text;

  &.isNotEditable {
    cursor: default;
  }

  &.invalid {
    color: var(--danger-600);
    font-weight: 400;
  }

  .editableContainer {
    border-bottom: 1px solid var(--danger-200);
    width: 100%;

    &[contenteditable="true"] {
      outline: none;
    }

    &.center {
      justify-content: center;
    }

    &.singleLine {
      &[contenteditable="true"] {
        white-space: nowrap;
        overflow: hidden;
        br {
          display:none;
        }
        * {
          display:inline;
          white-space:nowrap;
        }
      }
    }
  }

  .truncateContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: inherit;

    &.center {
      justify-content: center;
    }
  }
}

.noDisplay {
  display: none;
}