@import "src/static/styles/colors";

.dropZoneContainer {
  display: flex;
  align-self: center;
  text-align: center;
  height: 200px;
  max-width: 400px;
  width: 100%;
  align-items: center;
  border: 1px dashed var(--cyan-500);
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;

  .uploadIcon {
    display: flex;
    svg {
      color: var(--cyan-500);
      font-size: 2rem !important;
    }
  }
  .uploadText {
    font-size: 1rem;
    display: flex;
    padding: 4px 0;
  }
}