@import "src/static/styles/colors.scss";

:root[theme='dark'] {
  .authContainer {
    .sidebar {
      filter: invert(1);
      img, iframe {
        filter: invert(0);
      }
    }
  }
}

.authContainer {
  display: flex;
  position: relative;
  max-width: 100vw;
  min-height: 100vh;

  .sidebar {
    position: relative;
    width: 560px;
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    padding: 64px 80px 40px 80px;
    flex-direction: column;
    background-color: var(--basic-800);


    .top {
      .logo {
        min-width: 160px;
      }
    }
    .middle {
      margin-top: 136px;
    }
    .bottom{
      display: flex;
      align-items: center;
      margin-top: auto;
      padding-top: 40px;
      border-top: 1px solid var(--basic-840);
      color: var(--basic-400);

      .policy {
        font-weight: 600;
        margin-right: 24px;
      }
    }
  }
  .page {
    width: 100%;
    height: 100vh;
  }
}
.input {
  margin-bottom: 48px;

  input {
    color: var(--basic-200);
    background: var(--basic-750);
    border: 1px solid #5C6170;

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active  {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-box-shadow: 0 0 0 50px var(--basic-750) inset !important;
        -webkit-text-fill-color: var(--basic-200);
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
