@import '../../../../../../static/styles/colors';
@import '../../../../../../static/styles/fonts.scss';

.modalContentContainer {
  display: flex;
  align-items: flex-start;
  .col {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
}

.reportContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;

  .controls {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: stretch;
    min-height: 50px;
    margin: 0 -40px;
    padding: 0 40px;
    box-shadow: 0 0 1px 1px rgba(59, 60, 69, 0.15);

    .title {
      display: flex;
      font-size: 1rem;
      font-weight: 400;
      align-self: center;
    }

    .leftPart {
      position: relative;
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    .rightPart {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;

      .selectControl {
        margin-right: 10px;
      }

      .groupBtn {
        display: flex;
        width: 80px;
        font-size: 1.15rem;
        border-radius: 5px;
        background-color: var(--background-w);
        border: 1px solid var(--basic-500);
        &.disabled {
          background-color: var(--basic-050);
          border: 1px solid var(--basic-150);
        }
        & > span {
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          cursor: pointer;
          color: var(--basic-500);
          width: 50px;
          padding: 5px;
          &:hover {
            box-shadow: 0 0 2px 1px var(--basic-500);
          }
          &.disabled{
            color: var(--basic-150);
          }
        }
        .undo {
          transform: rotate(180deg);
          border-left: 1px solid var(--basic-500);
        }
      }
    }
  }

  .spinnerContainer {
    text-align: center;
    padding-top: 100px;
  }
}

.backIcon {
  color: var(--basic-750);
  position: absolute;
  left: -30px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: $H6;
  transform: rotate(180deg);
  cursor: pointer;
}
