@import "../../../static/styles/colors";

.legendContainer {
  display: flex;
  flex-direction: column;
  width: 460px;
  padding: 0px 24px 16px 24px;
  margin: 6px;
  background-color: var(--basic-w);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.11);
  border-radius: 2px;
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-840);

  .badges {
    margin-bottom: 8px;
    width: 130px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .line {
    margin: 16px 0;
    border-bottom: 1px solid rgba($basic-900, 0.1);
  }

  .title {
    margin-top: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .description {
    margin-top: 8px;
    color: var(--basic-600);
  }

  li {
    list-style: disc inside;
    font-size: 12px;
    line-height: 16px;
  }
}