@import "src/static/styles/colors";

.widgetContainer {
  display: flex;
  flex: 1 1;
  flex-direction: column;

  .row {
    display: flex;
    padding: 20px 0;

    .col {
      display: flex;
      padding: 10px 20px;

      &:nth-child(1) {
        padding-left: 0;
      }
    }
  }

  .geoPosition {
    display: flex;

    a {
      display: flex;
    }
  }


  .slotTitle {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .separator {
    height: 100%;
    width: 1px;
    background-color: var(--basic-350);
    padding: 0 !important;
  }

  .metaFieldContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    * {
      font-size: 1.2rem;
    }

    .metaFieldValue {
      color: var(--basic-750);
      font-size: 1.2rem;
      font-weight: 600;
    }

    .metaFieldName {
      font-size: 1rem;
      color: var(--basic-350);

      &.danger {
        color: var(--danger-500);
      }
    }
  }
}
