@import '../../static/styles/colors';

@mixin arrowColors($level, $color) {
  .rst__lineBlock:nth-child(#{$level}) {
    &.rst__lineHalfHorizontalRight::before,
    &.rst__lineFullVertical::after,
    &.rst__lineHalfVerticalTop::after,
    &.rst__node .rst__lineHalfVerticalBottom::after,
    &.rst__lineHalfHorizontalRight::before,
    &.rst__lineFullVertical::after,
    &.rst__lineHalfVerticalTop::after,
    &.rst__lineHalfVerticalBottom::after {
      background: $color;
    }
  }
}

:global {
  .rst__tree {
    padding-bottom: 15px;
  }

  .rst__node {
    display: flex;
    background: var(--background-w);
    @include arrowColors(1, var(--basic-150));
    @include arrowColors(2, var(--cyan-330));
    @include arrowColors(3, var(--orange-340));
    @include arrowColors(4, var(--purple-420));
    @include arrowColors(5, var(--blue-450));
    @include arrowColors(6, var(--success-530));


    &:nth-child(2n) {
      background: var(--background-w);
    }

    .rst__lineBlock {
      flex: 0 0 auto;
    }

    .rst__lineHalfHorizontalRight::before, .rst__lineFullVertical::after, .rst__lineHalfVerticalTop::after, .rst__lineHalfVerticalBottom::after {
      background-color: var(--basic-200);
    }

    .rst__lineChildren::after {
      background-color: var(--basic-200);
    }

    .rst__nodeContent {
      left: auto !important;
      top: auto !important;
      position: relative !important;
      flex: 0 1 auto;
      width: 100%;


      .rst__collapseButton, .rst__expandButton {
        background: var(--background-w);
        box-shadow: none;
        width: 26px;
        height: 26px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &:hover {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .rst__rowWrapper {
    padding: 5px 0 5px 0;

    .rst__row {
      box-shadow: 8px 8px 9px -7px rgba(154, 154, 154, 0.75);

      .rst__rowContents {
        background: var(--background-w);
        padding: 0;

        border: none;
        box-shadow: none;

        .rst__rowLabel {
          display: flex;
          flex: 1 1;
          height: 100%;
          padding-right: 0;

          .rst__rowTitle {
            display: flex;
            flex: 1 1;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.toggleBtn {
  color: var(--basic-500);
  background: var(--background-w);
  height: 100%;
  font-size: 24px !important;
  position: absolute;
  &.ll {
    color: var(--cyan-330);
  }
  &.lll {
    color: var(--orange-340);
  }
  &.llll {
    color: var(--purple-420);
  }
  &.lllll {
    color: var(--blue-450);
  }
  &.llllll {
    color: var(--success-530);
  }
  &:hover {
    font-size: 28px !important;
  }
}

.nodeActions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.saveNode {
  padding: 0.4rem !important;
  margin: 0 3px;
}

.datepicker {
  position: relative;

  & svg {
    display: none;
  }

  & input {
    font-size: 100% !important;
    outline: none;
    cursor: pointer;
    text-align: center;
    border: 0;
    margin: 0 auto;
    width: 90px;
    background: none;
  }
}

.componentWrapper {
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 100%;
  color: var(--basic-300);

  .noData {
    padding-top: 100px;
  }

  .nodeContainer {
    display: flex;
    flex: 1 1;
    color: black;
    width: 100%;
    border-left: 2px solid var(--basic-150);

    &.ll {
      border-left-color: var(--cyan-330);
      &:hover {
        background: #{rgba(var(--cyan-50),0.02)}
      }
    }

    &.lll {
      border-left-color: var(--orange-340);
      &:hover {
        background: #{rgba(var(--orange-50),0.02)}
      }
    }

    &.llll {
      border-left-color: var(--purple-420);
      &:hover {
        background: #{rgba(var(--purple-50),0.02)}
      }
    }

    &.lllll {
      border-left-color: var(--blue-450);
      &:hover {
        background: #{rgba(var(--blue-50),0.02)}
      }
    }

    &.lllll {
      border-left-color: var(--success-530);
      &:hover {
        background: #{rgba(var(--success-50),0.02)}
      }
    }

    &:hover {
      background: #{rgba(var(--basic-050),0.02)}
    }

    &.selectedNode {
      background: #{rgba(var(--basic-050),0.02)};
    }

    .nodeCol {
      font-size: 0.8rem;
      font-weight: 300;
      width: 90px;
      align-items: center;
      justify-content: center;
      text-align: center;
      display: flex;

      &.controls {
        width: auto;
        margin-left: 10px;
      }

      &.editableField {
        overflow: hidden;
      }

      &.selectableField {
        width: auto;
      }

      &.titleCol {
        margin-left: 10px;
        position: relative;
        justify-content: left;
        flex: 1 1;
        //overflow: hidden;

        &.canDrag {
          margin-left: 10px;
        }

        & .pathId {
          background: var(--basic-050);
          border-radius: 4px;
          color: var(--basic-400);
          padding: 3px 7px 1px;
          font-size: 11px;
          margin-right: 5px;
          margin-bottom: 3px;

          &.ll {
            background: var(--cyan-50);
            color: var(--cyan-600);
          }

          &.lll {
            background: var(--orange-50);
            color: var(--orange-600);
          }

          &.llll {
            background: var(--purple-50);
            color: var(--purple-600);
          }

          &.lllll {
            background: var(--blue-50);
            color: var(--blue-600);
          }

          &.lllll {
            background: var(--success-50);
            color: var(--success-600);
          }
        }
      }

      &:last-child {
        border-right: none;
      }

      &.textLeft {
        text-align: left;
      }

      & .titleText {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 7px 0;

        .row {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 100%;
          width: 100%;

          .editableTitle {
            font-size: 0.8rem;
            line-height: 0.8rem;
          }
        }
      }

      & .workType {
        color: var(--basic-300);
        margin-top: 0.3rem;
        display: flex;
        width: inherit;
        font-size: 0.9rem;

        & > span {
          padding: 3px 7px 1px;
          font-size: 0.8em;
        }

        & > span:nth-child(1) {
          background: var(--basic-350);
          border: 1px solid var(--basic-350);
          border-bottom-left-radius: 2px;
          border-top-left-radius: 2px;
          color: var(--basic-w)
        }

        & > span:nth-child(2) {
          border-bottom-right-radius: 2px;
          border-top-right-radius: 2px;
          margin-right: 5px;
          border: 1px solid var(--basic-350);
          color: var(--basic-500);
          background-color: var(--background-w);
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-style: italic;
        }
      }

      &.iconCol {
        margin-left: 10px;
        position: relative;
        height: 100%;
        width: 30px;
        cursor: pointer;
        z-index: 1;
      }

      .label {
        background: var(--basic-050);
        color: var(--basic-350);
        border-radius: 3px;
        padding: 5px 10px;
        cursor: pointer;
      }
    }
  }

  .table {
    font-size: 0.8rem;
    color: var(--basic-300);
    position: absolute;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    .tableHeader {
      display: flex;
      height: 50px;
      border-bottom: 2px solid var(--basic-200);
      background: var(--basic-030);
    }

    .tableBody {
      flex: 1 1;
      display: flex;
      height: 100%;
      color: transparent;
    }

    .tableCol {
      // flex: 0 1;
      width: 90px;

      &.maxWidth {
        flex: 1 1;
      }

      padding: 0 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      display: flex;
      border-left: 1px solid var(--basic-500);

      &:nth-child(1) {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

.inputSelect {
  font-size: 0.8rem;
  padding: 5px !important;
}
