@import "../../../static/styles/colors";

.componentContainer {
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.11);
  background-color: var(--basic-w);
  width: 630px;
  min-height: 250px;
  margin: 6px 0 6px 6px;
  display: flex;
  flex-direction: column;

  .filterContainer {
    h5 {
      padding-bottom: 5px;
      font-size: 16px;
    }

    padding: 20px;
    display: flex;

    .filter {
      display: flex;
      flex-direction: column;
      width: 350px;

      .accordion {
        width: 100%;
        margin: 0 10px;
      }

      .accordionHeader {
        border-bottom: none;
      }

      .separator {
        margin-top: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba($basic-900, 0.1);
      }

      .statusContainer {
        display: flex;
        flex-direction: row;

        .statusBtn {
          width: 100%;
          margin-left: 5px;

          span {
            font-size: 0.8rem;
          }

          &:nth-child(1) {
            margin-left: 0;
          }
        }

        .circle {
          width: 9px;
          height: 9px;
          border-radius: 50%;
          display: none;

          &.danger {
            background-color: var(--danger-400);
            display: inline-block;
          }

          &.green {
            display: inline-block;
            background-color: var(--success-400);
          }

          &.yellow {
            display: inline-block;
            background-color: var(--warning-400);
          }

          &.gray {
            display: inline-block;
            background-color: var(--basic-400);
          }
        }
      }

      .deviationDaysContainer {
        display: flex;
        flex-direction: row;

        .col {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 10px;
        }
      }

      .rangeContainer, .projectTypeContainer {
        display: flex;

        .tree {
          width: 350px;

          .treeIcon {
            color: var(--cyan-700);
          }
        }
      }

      .labelContainer {
        display: flex;
        justify-content: space-between;

        .rangeValues {
          display: flex;
          align-items: center;
          color: var(--basic-400);
          font-size: 0.8rem;
        }
      }
    }

    .sorter {

      display: flex;
      padding-left: 20px;
      flex-direction: column;
      width: 280px;
      max-height: 550px;

      .sortingContainer {
        overflow-y: auto;

        .typeContainer {
          padding: 5px;
          border-radius: 3px;

          .sortTitle {
            display: block;
            width: 100%;
            border-bottom: 1px solid rgba($basic-900, 0.1);
            font-weight: 600;
            padding-bottom: 5px;
            margin-bottom: 5px;
          }

          .selectedIcon {
            color: red !important;
          }

          .sortBtn {
            font-size: 12px !important;

            span {
              font-size: 12px !important;
            }

            font-weight: 400;
          }

          .rotateIcon {
            transform: rotate(180deg);
          }
        }
      }
    }
  }


  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: var(--basic-030);
    border-top: 1px solid rgba($basic-900, 0.11);

    .left {
      display: flex;
      flex: 1;
    }

    .resetBtn {
      padding-right: 25px;
      border: none;
      background-color: unset;

      &:hover {
        color: var(--basic-600);
      }
    }
  }
}

.favoritesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  .favorite {
    padding: 0 10px;
  }
}

.favoritesFormContainer {
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.11);
  background-color: var(--basic-w);
  width: 300px;
  margin: 0 6px 6px 6px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  max-height: 400px;
  overflow-y: auto;
}
