@import '../../../static/styles/colors.scss';

.widgetWrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 16px 24px 0;
    cursor: pointer;

    .substrate {
        width: 180px;
        height: 6px;
        background-color: $basic-750;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .image {
        position: relative;
        width: 200px;
        height: 120px;
    }

    .mediaContainer {
        border-radius: 2px;
    }

    .path {
        position: absolute;
        left: 8px;
        bottom: 8px;
        height: 20px;
        display: flex;
        align-items: center;
        padding: 0 6px;
        background-color: var(--cyan-80);
        font-weight: 500;
        font-size: 11px;
        line-height: 100%;
        color: var(--cyan-600);
    }

    .title {
        width: 100%;
        height: 54px;
        padding: 0 8px;
        margin-top: 8px;
        color: var(--basic-840);
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .count {
        width: 100%;
        margin-top: 4px;
        padding: 0 8px;
        color: var(--basic-400);
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
}