@import '../../../static/styles/colors';

:global {
  .rst__tree {
    padding-bottom: 15px;
  }
}

.componentWrapper {
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 100%;
  color: var(--basic-300);

  .noData {
    padding-top: 100px;
  }

  .fileLoaderContainer {
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
    top: 0;
    height: 100%;
    background-color: var(--basic-w);
    width: 0;
    .fixed {
      position: fixed;
      display: none;
      &.isOpen {
        display: flex;
        flex-direction: column;
        width: 355px;
      }
    }
    h5 {
      padding: 20px;
      color: var(--basic-txt);
      font-weight: 600;
    }

    &.isOpen {
      padding: 20px;
      width: 400px;
    }
    .filesContainer {
      display: flex;
      flex-direction: column;
      flex: 1 1;
      padding: 10px;
      .file {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > div:nth-child(1) {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          color: var(--basic-600);
        }
        & > div:nth-child(2) {
          cursor: pointer;
          font-size: 2rem;
          color: var(--danger-330);
        }
      }
    }
  }

  //.table {
  //  font-size: 0.8rem;
  //  color: var(--basic-300);
  //  position: absolute;
  //  flex: 1 1;
  //  display: flex;
  //  flex-direction: column;
  //  height: 100%;
  //
  //  .tableHeader {
  //    display: flex;
  //    height: 50px;
  //    border-bottom: 2px solid var(--basic-200);
  //    background: var(--basic-030);
  //  }
  //
  //  .tableBody {
  //    flex: 1 1;
  //    display: flex;
  //    height: 100%;
  //    color: transparent;
  //  }
  //
  //  .tableCol {
  //    // flex: 0 1;
  //    width: 90px;
  //
  //    &.maxWidth {
  //      flex: 1 1;
  //    }
  //
  //    padding: 0 10px;
  //    align-items: center;
  //    justify-content: center;
  //    text-align: center;
  //    display: flex;
  //    border-left: 1px solid var(--basic-500);
  //
  //    &:nth-child(1) {
  //      border-left: none;
  //    }
  //
  //    &:last-child {
  //      border-right: none;
  //    }
  //  }
  //}
}
