@import "src/static/styles/colors";
@import "src/static/styles/mixins";

.metaFieldContainer {
  display: flex;
  flex-direction: column;

  .metaFieldValue, p {
    @include one-line-with-ellipsis;
    color: var(--basic-750);
  }

  .link {
    @include one-line-with-ellipsis;
    color: var(--cyan-500);
    &:hover {
      color: var(--cyan-700);
    }
  }

  .metaFieldName {
    @include one-line-with-ellipsis;
    font-size: 0.8rem;
    color: var(--basic-350);

    &.danger {
      color: var(--danger-500);
    }
  }
}
