@import "src/static/styles/colors";
.componentsWrapper {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  .column {
    display: flex;
    flex-direction: row;
  }
}

.center {
  align-content: center;
  align-items: center;
}

.iconsContainer {
  display: flex;
  flex-flow: wrap;
  .icon {
    color: red;
    display: flex;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }
}

.colorsContainer {
  display: flex;
  flex-flow: wrap;
  .color {
    padding: 1rem;
    width: 10rem;
    height: 5rem;
  }
}
.outerAccordion {
  width: 300px;
}