@import "../../static/styles/mixins";
@import "../../static/styles/colors";

.fileManagerContainer {
  display: flex;
  flex: 1 1;
  height: 100%;
  flex-direction: column;
  margin-top: -40px;

  .menuContainer {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;

    .left, .right {
      flex: 1 1;
      display: flex;

      .search {
        max-width: 500px;
        button {
          font-size: 1.6rem;
        }
      }
    }

    .right {
      justify-content: flex-end;
    }
  }

  .contextContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1;

    .noItemsContainer {
      display: flex;
      flex: 1 1;
      padding: 20px;
      font-weight: 600;
      justify-content: center;
      color: var(--basic-400);
    }

    .filesContainer {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      position: relative;
      &.list {
        padding-top: 10px;
      }
      }
    }
  }
