@import "../../../static/styles/colors";

.modalContainer {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px var(--basic-200);
  min-width: 500px;

  .title, .contentContainer, .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .contentContainer {
    flex: 1 1;
  }

  .title {
    flex: 0.3 1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 20px 25px;
    justify-content: space-between;
  }

  .footer {
    flex: 0.3 1;
    padding: 20px 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: flex-end;
    button:nth-child(2) {
         margin-left: 10px;
    }
  }

  .col {
    display: flex;
    flex: 1 1
  }
}
