@import '../../static/styles/colors';
@import '../../static/styles/mixins';

.objectName {
  width: 50vw;
  @include one-line-with-ellipsis;
  @include strokeSingle(0.2em)
}

.contentWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 40px 40px;
  overflow: hidden;
}

.headerContainer {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  background-color: var(--background-w);
  padding: 0 40px;
  box-shadow: 0 0 1px 1px rgba(var(--basic-750), 0.15);


  .controlsContainer {
    display: flex;
    justify-content: space-between;

    .right, .left, .middle {
      display: flex;
      align-items: center;
    }

    .middle {
      width: 30%;
      justify-content: space-between;
      .reportName {
        display: flex;
        cursor: pointer;
        color: var(--basic-350);
        &:hover, &.active {
          color: var(--basic-750);
        }
        &.leftReport {
          text-align: left;
          span:first-child {
            margin-right: 10px;
            transform: rotate(180deg);
          }
        }
        &.rightReport {
          text-align: right;
          span:last-child {
            margin-left: 10px;
          }
        }
      }
    }

    .right {
      width: 20%;

      justify-content: flex-end;
      .addBookMarkIcon {
        font-size: 1.3rem !important;
        span {
          font-size: 1rem;
        }
        cursor: pointer;
        color: var(--basic-350);
        padding: 5px 10px;
        &:hover {
          background-color: var(--basic-050);
        }
        &.inFavorite {
          color: var(--orange-600);
        }
        &.cantWrite {
          cursor: default;
          &:hover {
            background-color: var(--basic-w);
          }
        }
      }
    }

    .line {
      visibility: hidden;
      height: 0;
      border-bottom: 1px solid var(--basic-200);
      position: absolute;
      width: 100%;
      bottom: 0;
    }

    .controlItem {
      cursor: pointer;
      display: flex;
      margin-right: 1rem;
      color: var(--basic-350);

      &:hover,
      &.active {
        a {
          span {
            color: var(--basic-750);

            &::after {
              opacity: 1;
            }
          }
        }
      }

      a {
        display: inline-block;
        padding: 1rem 0;
        text-align: center;
        color: var(--basic-300);

        span {
          display: inline-block;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: var(--cyan-500);
            bottom: -16px;
            left: 0;
            opacity: 0;
            transition: opacity .3s linear;
          }
        }
      }

      &:nth-child(1) {
        padding-left: 0;
      }
    }

    &:hover {
      .controlItem:not(:hover).active {
        a {
          span {
            &::after {
              opacity: 0;
            }
          }
        }
      }
    }
  }

}