@import "../../../static/styles/colors";

.filterContainer {
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.11);
  background-color: var(--basic-w);
  width: 350px;
  min-height: 250px;
  margin: 6px 0 6px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    padding: 20px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--basic-030);
    border-top: 1px solid rgba($basic-900, 0.11);
    .resetBtn {
      border: none;
      background-color: unset;
      &:hover {
        color: var(--basic-600);
      }
    }
  }

  .title {
    margin-top: 20px;
  }
}
