@import '../../static/styles/colors';
@import '../../static/styles/mixins';

.spinnerWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  .spinner {
    display: flex;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--basic-050);

  .mapsContainer {
    width: 100%;
    height: calc(100vh - 25px);
    position: fixed;
  }

  .middleWrapper {
    // overflow: hidden;
    margin: 0 0.6rem 0 1.6rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    min-width: 800px;
    flex-direction: column;
    align-items: center;
  }

  .topWrapper {
    display: flex;
    min-width: 800px;
    flex-direction: column;
    align-items: center;
    margin: 0 0.6rem 0 1.6rem;
  }
  
  .middle,
  .controls {
    height: 100px;
    max-width: 1400px;
    width: 100%;
  }

  .top {
    max-width: 1400px;
    width: 100%;
    height: 270px;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: var(--basic-050);
  }

  .middle {
    height: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    &.isFilled {
      background: var(--basic-050);
    }
    .left,
    .right {
      display: flex;
      color: var(--basic-500);
      align-items: center;
      position: relative;

      .strokeSingle,
      .strokeDouble {
        position: relative;
        background: transparent;
        z-index: 0;
      }
      /* add a single stroke */
      .strokeSingle:before,
      .strokeDouble:before {
        content: attr(title);
        position: absolute;
        -webkit-text-stroke: 0.2em var(--basic-w); /* Chris Coyier's favorite color! */
        left: 0;
        z-index: -1;
      }
      /* add a double stroke */
      .strokeDouble:after {
        content: attr(title);
        position: absolute;
        -webkit-text-stroke: 0.4em #1c1c24;
        left: 0;
        z-index: -2;
      }

      & .iconContainer {
        cursor: pointer;
        line-height: 2.5rem;
        font-size: 2.5rem;
        margin-right: 1rem;
        color: var(--basic-500);
      }
    }
  }

  .controls {
    top: 90px;
    display: flex;
    height: inherit;
    margin: 0 1rem;


    &.isFilled {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: 0 0 2px 1px transparent;
    }
  }

  .contentWrapper {
    display: flex;
    min-width: 800px;
    flex: 1 1;
    justify-content: center;
    margin: 0 0.6rem 0 1.6rem;

    .contentContainer {
      position: relative;
      z-index: 1;
      min-height: 60vh;
      min-width: 800px;
      max-width: 1400px;
      width: 100%;
    }
  }
  &.themeOne {
      .controls {
        padding: 1rem 1rem 1rem 1rem;
        background: #fafafa;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom: 1px solid var(--basic-500);
        @include blockShadow;
      }

      .contentWrapper {
        .contentContainer {
          @include blockShadow;
          background: var(--background-w);
        }
      }
    }

  &.withTabs {
    .controls {
      padding: 0 1rem;
    }
  }
}
