@import '../../../static/styles/colors.scss';

.widgetWrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 16px 24px 0;
    cursor: pointer;

    .image {
        position: relative;
        width: 200px;
        height: 126px;
    }

    .mediaContainer {
        border-radius: 2px;
    }

    .path {
        position: absolute;
        left: 8px;
        bottom: 8px;
        height: 20px;
        display: flex;
        align-items: center;
        padding: 0 6px;
        background-color: var(--cyan-80);
        font-weight: 500;
        font-size: 11px;
        line-height: 100%;
        color: var(--cyan-600);
    }

    .title {
        width: 100%;
        height: 54px;
        padding: 0 8px;
        margin-top: 8px;
        color: var(--basic-840);
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .factVolume {
        padding: 0 6px;
        margin-top: 5px;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: var(--cyan-500);
    }

    .user {
        width: 100%;
        padding: 0 6px;
        font-size: 14px;
        line-height: 18px;
        color: var(--basic-840);
    }
}