@import '../../static/styles/colors.scss';

.gridContainer {
  overflow: hidden;
  .dataGrid {
    overflow: auto;
    // height: calc(100% - 100px); nor working in mozilla
    position: relative;

    & > div > div:first-child {
      margin: 4px 4px 0 0;
      padding-left: 5px;
      background-color: var(--basic-050);
    }

    .dataGridSpinnerContainer {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgba(var(--background-w), .6);
    }
  }
}