@import '../../../static/styles/colors';

.componentContainer {
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.11);
  background-color: var(--basic-w);
  width: 630px;
  min-height: 250px;
  margin: 6px 0 6px 6px;
  display: flex;
  flex-direction: column;

  .filterContainer {
    padding: 20px;
    display: flex;

    .filter {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .left {
      width: 100%;
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      font-size: 1.25rem;
    }

    .row {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
    }

    .dayPicker {
      width: 280px;

      & > div {
        width: 100%;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: var(--basic-030);
    border-top: 1px solid rgba($basic-900, 0.11);

    .left {
      display: flex;
      flex: 1;
    }

    .resetBtn {
      padding-right: 25px;
      border: none;
      background-color: unset;

      &:hover {
        color: var(--basic-600);
      }
    }
  }
}

.inlineFilterContainer {
  display: flex;
  width: 100%;
  padding: 10px 0px;

  .filterContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .filterItem {
      width: 200px;
      margin: 0 10px;
    }
    .btnItem {
      margin: 0 10px;
    }
  }
}
