@import "../../static/styles/colors";

.headerClassName {
  padding: 0;
  border-bottom: none;
  > div {
    flex: 1 1;

  }
}

.graphic_gannt_table_content {
  width: 100%;
  &.pointer {
    cursor: pointer;
  }
  .element {
    color: #49585f;
    --height: 100%;

    .element_content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #e1e5e9;

      .element_title {
        min-height: 50px;
        min-width: 620px;
        width: 50%;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .element_title_name {
          display: flex;
          flex-wrap: nowrap;
          flex-grow: 1;
          align-items: center;
          padding: 13px 0;
          border-right: 1px solid #e1e5e9;
          height: 100%;
          overflow: hidden;
          text-overflow: ellipsis;

          .element_open {
            display: flex;
            align-items: center;
            margin-right: 20px;
            cursor: pointer;
          }
        }

        .element_title_beginning_ending {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;

          & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
            box-sizing: border-box;
            height: 100%;
            min-width: 81px;
            border-right: 1px solid #e1e5e9;
          }
          &.finMode {
            & > div {
              width: 60px
            }
          }
        }

        .element_title_plan_fact {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;


          & > div {
            display: flex;

            flex-direction: column;
            align-items: flex-end;
            padding: 0 5px;
            height: 100%;
            width: 80px;

            .volumes {
              width: 100%;
              justify-content: center;
            }

            &:first-child {
              border-right: 1px solid #e1e5e9;
            }
            
            & div {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              height: 100%;
              padding-top: 2px;
            }

            & .isFinanceShown {
              border-top: 1px solid #e1e5e9;
              width: 100%;
            }
          }

          &.finMode {
            & > div {
              width: 140px;
            }
          }
        }
      }

      .element_graph {
        width: 58%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        .element_ruler {
          display: flex;
          justify-content: space-between;
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 0;
        }

        .element_step {
          position: relative;
          display: inline-block;
          width: 1px;
          height: var(--height);
          background-color: rgb(204, 204, 204);

          .element_name {
            display: inline-block;
            transform: translate(-50%, -50px) rotate(-75deg);
            font-size: 12px;
            position: absolute;
            top: 0;
            left: 10px;
            color: #a3a6c0;
          }
        }

        .graph_line {
          position: relative;
          width: 0;
          height: 25px;
          border-radius: 1px;
          transition: width 0.5s;
          cursor: pointer;
          z-index: 1;
          &.isFinanceShown {
            height: 18px;
          }

          .graph_line_fact {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            color: #000;
            font-weight: bold;
            text-align: center;
            transition: width 0.5s;
            line-height: 25px;
            &.isFinanceShown {
              line-height: 18px;
            }
          }
        }
        
        .graph_lines {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          &:hover ~ .element_popup {
            pointer-events: inherit;
            opacity: 1;
          }
        }

        .graph_line_physical {
          width: 100%;
          display: flex;
          align-items: center;
        }

        .graph_line_financial {
          margin-top: 3px;
          width: 100%;
          height: 18px;
          display: flex;
          align-items: center;
          & .graph_line_grey, & .graph_line {
            height: 100%;
          }
        }

        .graph_line_grey {
          height: 25px;
          background-color: transparent;
          &.isFinanceShown {
            height: 18px;
          }
        }

        .current_date {
          position: absolute;
          z-index: 1;
          border-right: 3px solid #e40a15;
          height: 120%;
        }

        .element_popup {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 25px;
          background-color: rgb(233, 229, 188);
          box-sizing: border-box;
          border-radius: 8px;
          opacity: 0;
          transition: opacity 0.3s linear;
          pointer-events: none;
          z-index: 2;

          span:nth-child(2) {
            font-weight: 600;
          }
        }

        .finishRule {
          .element_step {
            position: absolute;
            top: 0;
            width: 1px;
            height: var(--height);
            background-color: rgb(204, 204, 204);
            .element_name {
              transform: translate(-50%, -50px) rotate(-75deg);
              font-size: 12px;
              top: 0;
              color: #a3a6c0;
            }
          }
        }
      }
    }
    .historyList {
      display: none;
      &.opened {
        display: flex;
      }
    }
  }

  .editableTitle {
    width: 100%;
    
    & > div {
      outline: none;
      cursor: pointer;
      float: left;
      text-align: left;
      border: 0;
      resize: none;
      margin: 0 auto;
      width: 95%;
      font-size: 14px;
      
    }
  }
  .datepicker {
    & input {
      outline: none;
      cursor: pointer;
      text-align: center;
      border: 0;
      margin: 0 auto;
      width: 65px;
      font-size: 14px;
      color: #49585f;
      &:disabled {
        background: #fff;
        color: #ccc;
      }
    }
  }
  .element_title_plan_fact {
    & input {
      outline: none;
      cursor: pointer;
      text-align: center;
      border: 0;
      margin: 0 auto;
      width: 50px;
      font-size: 14px;
      color: #49585f;
    }
  }
}
