@import '../../static/styles/colors';
@import '../../static/styles/mixins';

.spinnerWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  .spinner {
    display: flex;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .topWrapper {
    display: flex;
    min-width: 800px;
    z-index: 2;
  }

  .middleWrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    min-width: 800px;
  }

  .contentWrapper {
    display: flex;
    min-width: 800px;
    flex: 1 1;
    justify-content: center;
  }
}
