@import "src/static/styles/colors";


$border-width: 1px;


.basicBtn {
  border-radius: 3px;
  font-weight: 600;
  background-color: var(--basic-100);
  padding: 7px 12px;
  color: var(--basic-500);
  font-size: 14px;
  box-sizing: border-box;
  min-height: 40px;
  cursor: pointer;

  &:hover {
    background-color: var(--basic-150);
  }

  &:active, &.active {
    background-color: var(--basic-200);
  }

  &:disabled {
    background-color: var(--basic-070);
    color: var(--basic-350);
  }

  &.outlineBtn {
    background-color: var(--background-w);
    color: var(--basic-700);
    border: $border-width solid var(--basic-150);


    &:hover {
      background-color: var(--basic-030)
    }

    &:active, &.active {
      background-color: var(--basic-050);
    }

    &:disabled {
      background-color: var(--basic-070);
      color: var(--basic-350);
      border: $border-width solid var(--basic-350);
    }
  }

  &.withoutBorder {
    border: none !important;
  }
}

.textIconBtn {
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  line-height: 8px !important;

  &.outlineBtn {
    line-height: 8px !important;
  }

  svg {
    width: 1.4em;
    height: 1.4em;
  }

  span {
    display: inline-block !important;
    vertical-align: middle;
  }

  span:nth-child(2) {
    padding-left: 10px;
  }
}

.primaryBtn {
  background-color: var(--cyan-500);
  color: var(--basic-w);

  &:hover {
    background-color: var(--cyan-400);
  }

  &:active, &.active {
    background-color: var(--cyan-600);
  }

  &:disabled {
    background-color: var(--basic-070);
    color: var(--basic-350);
  }

  &.outlineBtn {
    background-color: var(--background-w);
    color: var(--cyan-400);
    border: $border-width solid var(--cyan-330);

    &:hover {
      background-color: var(--cyan-50)
    }

    &:active, &.active {
      background-color: var(--background-w);
    }

    &:disabled {
      background-color: var(--basic-070);
    }
  }
}

.successBtn {
  background-color: var(--success-530);
  color: var(--basic-w);

  &:hover {
    background-color: var(--success-400);
  }

  &:active, &.active {
    background-color: var(--success-600);
  }

  &:disabled {
    background-color: var(--basic-070);
    color: var(--basic-350);
  }

  &.outlineBtn {
    background-color: var(--background-w);
    color: var(--success-600);
    border: $border-width solid var(--success-530);

    &:hover {
      background-color: var(--success-50)
    }

    &:active, &.active {
      background-color: var(--background-w);
    }

    &:disabled {
      background-color: var(--basic-070);
    }
  }
}

.warningBtn {
  background-color: var(--warning-500);
  color: var(--basic-w);

  &:hover {
    background-color: var(--warning-400);
  }

  &:active, &.active {
    background-color: var(--warning-600);
  }

  &:disabled {
    background-color: var(--basic-070);
    color: var(--basic-350);
  }

  &.outlineBtn {
    background-color: var(--background-w);
    color: var(--warning-600);
    border: $border-width solid var(--warning-500);

    &:hover {
      background-color: var(--warning-50)
    }

    &:active, &.active {
      background-color: var(--background-w);
    }

    &:disabled {
      background-color: var(--basic-070);
    }
  }
}

.infoBtn {
  background-color: var(--blue-520);
  color: var(--basic-w);

  &:hover {
    background-color: var(--blue-450);
  }

  &:active, &.active {
    background-color: var(--blue-600);
  }

  &:disabled {
    background-color: var(--basic-070);
    color: var(--basic-350);
  }

  &.outlineBtn {
    background-color: var(--background-w);
    color: var(--blue-520);
    border: $border-width solid var(--blue-450);

    &:hover {
      background-color: var(--blue-50)
    }

    &:active, &.active {
      background-color: var(--background-w);
    }

    &:disabled {
      background-color: var(--basic-070);
    }
  }
}

.dangerBtn {
  background-color: var(--danger-500);
  color: var(--basic-w);

  &:hover {
    background-color: var(--danger-400);
  }

  &:active, &.active {
    background-color: var(--danger-600);
  }

  &:disabled {
    background-color: var(--basic-070);
    color: var(--basic-350);
  }

  &.outlineBtn {
    background-color: var(--background-w);
    color: var(--danger-500);
    border: $border-width solid var(--danger-400);

    &:hover {
      background-color: var(--danger-50)
    }

    &:active, &.active {
      background-color: var(--background-w);
    }

    &:disabled {
      background-color: var(--basic-070);
    }
  }
}

.groupBtn {
  border-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  border: $border-width solid var(--basic-150);

  button {
    border-radius: 0;
    border: none !important;
    display: inline-block !important;
    vertical-align: middle;

    &:nth-child(1) {
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
    }

    &:nth-last-child {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  &.outlineGroup {
    border: $border-width solid var(--basic-150);
  }
}

.roundBtn {
  padding: 12px 14px;
  border-radius: 24px;
}

.s2 {
  font-size: 1.15rem;

  &.roundBtn {
    padding: 12px 14px;
    border-radius: 24px;
  }
}

.s3 {
  font-size: 1.5rem;

  &.roundBtn {
    padding: 12px 14px;
    border-radius: 30px;
  }
}

.s4 {
  font-size: 1.8rem;

  &.roundBtn {
    padding: 12px 14px;
    border-radius: 36px;
  }
}

.s5 {
  font-size: 2.2rem;

  &.roundBtn {
    padding: 12px 14px;
    border-radius: 48px;
  }
}
