@import "src/static/styles/colors";
@import "src/static/styles/mixins";

@include invertDark('.attachment .file');

.attachment {
  position: relative;
  width: inherit;
  height: inherit;

  &.isProcessed {
    & .file {
      filter: blur(0px);
    }
  }

  &.error {
    & .file {
      filter: grayscale(100%);
    }
  }

  .file {
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--basic-070);
    background-size: cover;
    background-position: center;
    filter: blur(3px)
  }

  .progress-bar {
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 22px);
  }

  .uploading-progressbar {
    position: absolute;

    & .progress-icon {
      position: absolute;
      top: 0.9rem;
      left: 0.9rem;
      z-index: 2;
      font-size: 1.2rem;
      color: #5285c4;
    }
  }

  .converting-progressbar {
    position: absolute;
  }

  .remove {
    visibility: hidden;
    @include ellipse(1.8rem) {
      background-color: transparentize(black, .5);
      color: var(--basic-w);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }

  .selectAsMain {
    @include ellipse(1.8rem) {
      background-color: transparentize(black, .5);
      color: var(--basic-w);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem !important;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      visibility: hidden;
      padding: 0.2rem;
    }
    &.selected {
      visibility: visible;
      background-color: transparentize($blue-380, .2);
    }
  }

  &:hover {
    .selectAsMain {
      visibility: visible;
    }
  }
}
