@import '../../../static/styles/colors';

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner {
  width: 24px;
  height: 24px;
  display: flex;
  margin: auto;
  border: 1px solid var(--blue-450);
  border-radius: 50% !important;
  border-right-color: transparent;
  padding: 0 0 0 0;
  -webkit-animation: spin .45s infinite linear;
  animation: spin 0.45s infinite linear;
}

.pagPendingContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($basic-w, 0.7);

  .pagPending {
    position: absolute;
    top: 25%;
    left: 50%;
  }
}
