.navigatorContainer {
  display: flex;
  align-items: center;
  .navItem {
    cursor: pointer;
    display: flex;
    padding: 0 10px;
    height: 100%;
    align-items: center;
    background: var(--basic-030);
    &:hover {
      background: var(--basic-050);
      text-decoration: underline;
    }
    &.root {
      font-size: 1.6rem;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    &.last {
      cursor: default;
      color: var(--basic-500);
      &:hover {
        background: var(--basic-030);
        text-decoration: none;
      }
    }
  }
}
