@import "src/static/styles/mixins";
@import "src/static/styles/colors";

.browserItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 10px;
  &:first-child {
    margin-left: 0;
  }

  &.listItem {
    height: 50px;
    width: 100%;
    margin: 0 10px;

    .itemBody {
      background: var(--basic-w);
      color: var(--basic-600);
      height: 50px;
      font-size: 1rem;
      justify-content: space-between;
    }

    &.file {
      .itemBody {
        background: var(--basic-w);
        border-bottom: 1px solid var(--basic-w);
        border-top: 1px solid var(--basic-w);
      }
    }

    &:nth-child(2n) {
      .itemBody {
        background: rgba($basic-030, 0.8);
        border-bottom: 1px solid var(--basic-030);
        border-top: 1px solid var(--basic-030);
      }

      &.file {
        .itemBody {
          border-bottom: 1px solid var(--basic-030);
          border-top: 1px solid var(--basic-030);
          background: rgba($basic-030, 0.8);
        }
      }
    }

    &:hover {
      .itemBody {
        box-shadow: none;
        border-bottom: 1px solid var(--basic-100);
        border-top: 1px solid var(--basic-100);
      }
    }
  }

  .itemBody {
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    background: var(--cyan-50);
    color: var(--cyan-600);
  }

  &.file {
    .itemBody {
      background: var(--basic-030);
      color: var(--basic-600);
    }
  }

  &.dragging {
    .itemBody {
      border: 1px dashed var(--basic-150);
      color: var(--basic-150);
      background: var(--basic-030) !important;
    }
  }

  &.selected {
    &:hover {
      .itemBody {
        box-shadow: 0 0 3px 2px var(--orange-80);
      }
    }

    .itemBody {
      box-shadow: 0 0 3px 2px var(--orange-80);
    }
  }

  &.cantDrop {
    .itemBody {
      background: var(--basic-070) !important;
    }
  }

  &.canDrop {
    .itemBody {
      background: var(--cyan-80) !important;
    }
  }

  &.current {
    .itemBody {
      background: none !important;
    }
  }

  &:hover {
    .itemBody {
      box-shadow: 0 0 3px 2px var(--blue-80);
    }
  }
}
