@import '../../../../static/styles/colors';

.preloader {
  margin-top: 100px;
}

.constructorCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: -40px;
  .versionContainer {
    padding: 0 10px;
    display: flex;
    position: relative;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease-out;
    border-bottom: 1px solid #e4e4e4;
    &.open {
      height: auto;
      transition: all 0.5s ease-out;
    }
  }
}

.noData {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableHeader {
  display: flex;
  height: 50px;
  border-top: 1px solid #ededed;

  .tableCol {
    color: var(--basic-350);
    font-size: 11px;
    font-weight: 600;
    width: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    .col {
      display: flex;
      font-size: 1rem;
      flex: 1 1;
      &.right {
        justify-content: flex-end;
      }
      &.left {
        justify-content: flex-start;
      }
    }

    &.maxWidth {
      justify-content: left;
      flex: 1 1;
      .addNode {
        min-width: 38px;
        padding: 0.5rem;
        margin-right: 0.5rem;
      }
      .remove {
        color: var(--basic-500);
        svg {
          color: var(--danger-500);
        }
      }
      .rotate {
        svg {
          transform: rotate(45deg);
        }
      }
      .rotate90 {
        svg {
          transform: rotate(90deg);
        }
      }
      .roundBtn {
        span {
          border: 1px solid $basic-w;
          border-radius: 50%;
        }
      }
      .nodeSelector {
        color: var(--basic-750);
        background-color: var(--basic-070);
        &:hover {
          background-color: var(--basic-100);
        }
        > span:nth-child(1) {
          background: var(--blue-520);
          color: var(--basic-w);
          border-radius: 50%;
        }
        > span:nth-child(2) {
          > span:nth-child(2) {
            font-weight: 400;
            color: var(--basic-400)
          }
        }
      }
    }
  }
}

.modalContentContainer {
  display: flex;
  align-items: flex-start;
  .col {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
}

.uploadModalTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.uploadModalChildren {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 500px;
  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 32px;
    &:nth-child(2) {
      padding: 20px 0;
    }
  }
}

.uploadModalFooter {
  background-color: var(--basic-030);
}

.uploadConfirmButton {
  color: var(--basic-w);
  background-color: var(--cyan-500);
  &:hover:not([disabled]) {
    background-color: var(--cyan-330);
  }
  &:disabled {
    color: var(--basic-w);
    cursor: default;
  }
}

.uploadAbortButton {
  background-color: var(--basic-w);
}

.uploadModalSpinner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba($basic-600, 0.3);
  z-index: 5;
}

.uploadModalFileNameContainer {
  width: 100%;
  margin: 20px 0;
  .uploadModalFileName {
    margin-left: 5px;
    font-weight: 500;
  }
}
