@import "../../static/styles/colors";
@import '../../static/styles/mixins';

:root[theme='dark'] {
  .nav {
    filter: invert(1);

    img, iframe {
      filter: invert(0);
    }
  }
}

.nav {
  display: flex;
  position: relative;
  width: 208px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background: var(--basic-800);
  z-index: 1000;
  transition: width .3s;

  &.shorten {
    width: 76px;
  }

  .top {
    position: relative;
    width: 100%;
    height: 76px;
    display: flex;
    padding: 0 16px;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--basic-840);


    .logoWrapper {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      overflow: hidden;
    }

    .logo {
      display: block;
      position: relative;
      height: 32px;
      margin-left: 8px;
      cursor: pointer;
    }
  }

  .middle {
    width: 100%;
    height: 100%;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    svg {
      display: block;
    }
  }

  .bottom {
    display: flex;
    padding: 20px;

    .installBtn {
      cursor: pointer;
      background: var(--basic-750);

      &:hover {
        filter: brightness(70%);
      }

      width: 100%;
    }
  }
}
