.budgetContainer {
  display: flex;
}

.budgetHeader {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  border-top: 1px solid var(--basic-100);
  border-bottom: 1px solid var(--basic-100);
  padding: 5px 0;
  align-items: center;

  .left, .right {
    display: flex;
  }

  .right {
    .filterContainer {
      position: relative;
      cursor: pointer;

      .filter {
        background: transparent;
        &.open {
          color: var(--blue-380);
        }
      }

      .badge {
        position: absolute;
        border-radius: 50%;
        width: 18px;
        right: 3px;
        top: 6px;
        background: var(--orange-460);
        text-align: center;
        font-size: 0.6rem;
        height: 17px;
        line-height: 18px;
        color: var(--basic-w);
        font-weight: 600;
      }
    }
  }
}
