@import '../../../../../../static/styles/colors';
@import '../../../../../../static/styles/fonts.scss';

.preloader {
  margin-top: 100px;
}

.reportCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 250px;
  margin-top: -40px;
  height: 100%;
}

.noData {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  color: var(--basic-600);
}

.modelContainer {
  display: flex;
  flex: 1 1;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  text-align: center;

  > div {
    display: flex;
    flex: 1 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    canvas {
      width: 100%;
      height: 100%;
    }
  }
}

.reports_wrapper {
  flex: 1 1;

  .versionContainer {
    display: flex;
    padding: 0 10px;
    position: relative;
    height: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e4e4e4;
    transition: all 0.5s ease-out;

    &.open {
      height: auto;
      transition: all 0.5s ease-out;
    }
  }

  .table_diagram_gannt {
    animation: fadeIn 0.2s both;

    .table_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      height: 86px;
    }

    .headerDates {
      width: 58%;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      justify-content: space-between;
      height: 100%;
      font-size: 0;

      .element_ruler {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 0;

        .element_step {
          position: relative;
          display: inline-block;
          height: var(--height);
          background-color: rgb(204, 204, 204);

          .element_name {
            display: inline-block;
            transform: translate(-50%, -50px) rotate(-75deg);
            font-size: 12px;
            position: absolute;
            top: 86px;
            left: 10px;
            color: #a3a6c0;
          }
        }
      }
    }

    .table_title {
      display: inline-block;
      font-size: 16px;
      color: #67767d;
      width: 30%;
    }

    .table_ruler_step {
      position: relative;
      z-index: 2;

      .custom_interval {
        position: absolute;
        top: 0;

        width: 90%;
        height: 38px;
      }
    }

    .table_content {
      position: relative;
      width: 100%;

      .table_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #a3a6c0;
        border-bottom: 2px solid #ff782d;

        .table_header_digits {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 54%;
        }

        .table_header_name {
          min-height: 50px;
          min-width: 620px;
          width: 50%;
          font-size: 14px;
          display: flex;
          border-right: 1px solid #e1e5e9;
          align-items: center;
          justify-content: space-between;

          .levels {
            display: flex;
            margin-right: 28px;

            .level_btn {
              box-sizing: border-box;
              margin-right: 8px;
              padding: 2px 6px;

              font-size: 11px;
              font-family: "Ubuntu", sans-serif;
              color: #a3a6c0;

              background-color: #f4f6fb;
              border: 1px solid rgba(163, 166, 192, 0.4);
              border-radius: 1px;
              cursor: pointer;
            }
          }

          .filter_block {
            display: flex;
            align-items: center;
            margin-left: 10px;

            svg {
              cursor: pointer;
            }
          }

          .table_header_name_beginning_ending {
            display: flex;

            div {
              width: 74px;
            }
          }

          .table_header_name_title {
            display: flex;
            flex-grow: 1;
            flex-wrap: nowrap;
            align-items: center;
            height: 100%;
            overflow: hidden;
          }

          .table_header_name_plan_fact {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;

            & div {
              width: 80px;
              text-align: center;
            }

            &.finMode {
              & div {
                width: 140px;
              }
            }
          }
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 38px;
        right: 510px;

        display: none;
        height: calc(100% - 30px);

        border-left: 1px solid #e1e5e9;
      }
    }
  }

  .table_plan_fact {
    margin-bottom: 80px;
  }

  .table_diagram_gannt {
    display: flex;
    flex: 1 1;

    .table_header_date {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 58%;
    }

    .table_content {
      &:after {
        display: none;
      }
    }
  }

  .widgets {
    display: flex;
    flex-wrap: wrap;
  }
  .widget__item {
    width: 50%;
  }
  .widget__label {
    color: var(--basic-350);
  }
  .widget__value {
    color: var(--basic-750);
  }
}

.col {
  padding: 0 8px;

  .selectRulerStep {
    width: 30px;
  }

  &.maxHeight {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &.tabs {
    font-size: $S;
    color: var(--basic-350);

    &.active {
      color: var(--basic-750);
      border-bottom: 1px solid var(--cyan-500);
    }

    &:not(.active) {
      cursor: pointer;
    }

    &:hover:not(.main) {
      background-color: var(--basic-030);
    }

    &.main {
      color: var(--basic-750);
      cursor: default;
    }
  }
}

.rightPart > .col {
  margin: 0 0 0 24px;
  padding: 0;
}

.addNode {
  padding: 0.5rem;
  margin-right: 0.5rem;
  line-height: 0.8rem;
  color: var(--basic-400) !important;

  .collapseIcon {
    transform: rotate(90deg);
  }
}

.headersContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .table_header {
    display: flex;
    width: 100%;
    font-size: 1rem;

    &:nth-child(1) {
      border-bottom: 1px solid var(--basic-100);
  }

    .leftPart {
      position: relative;
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    .rightPart {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.backIcon {
  color: var(--basic-750);
  position: absolute;
  left: -30px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: $H6;
  transform: rotate(180deg);
  cursor: pointer;
}

.downloadContainer {
  width: 150px;
  display: flex;
  background-color: var(--basic-w);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.11);
  border-radius: 2px;
  margin: 6px;

  .downloadItem {
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex: 1 1;

    &:hover {
      background-color: var(--basic-050);
    }
  }
}
