@import '../../static/styles/colors';
@import "../../static/styles/mixins";
@import "../../static/styles/fonts";


.menuContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: var(--background-w);
  box-shadow: 4px 4px 13px -5px rgba(0,0,0,0.75);
  .menuBtn {
    margin: 5px 0;
    text-align: start;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 208px);
  height: 76px;
  top: 0;
  left: 0;
  z-index: 3;
  margin-left: 208px;
  background-color: var(--background-w);
  position: absolute;
  transition: margin-left .3s, width .3s, top .3s;

  &.isHideHeader {
    top: -76px;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(134, 147, 174, 0.24);
  }

  &.close {
    width: calc(100% - 76px);
    margin-left: 76px;

    .toggleView {
      span {
        transform: rotateY(0deg);
      }

      &:hover {
        span {
          transform: rotateY(0deg);
          color: var(--basic-200);
          animation: move-right 1.6s infinite ease-out;
        }
      }

    }
  }

  .componentSearch ~ button {
    & span {
      background-color: transparent;
      font-size: 24px;
      color: var(--basic-350);
    }
  }
}

.left {
  display: flex;
  height: 100%;
  align-items: center;

  .text {
    color: var(--basic-600);
    font-size: $P;
  }

  .toggleView {
    display: flex;
    height: 100%;
    padding: 0 42px 0 16px;
    justify-content: flex-end;
    font-size: 24px;
    align-items: center;
    background: var(--background-w);
    color: var(--basic-350);
    cursor: pointer;

    &:hover {
      span {
        color: var(--basic-200);
        animation: move-left 1.6s infinite ease-out;
      }
    }

    span {
      transform: rotateY(180deg);
      transition: color .3s;
    }

    svg {
      display: block;
    }
  }
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
}

.functionalityBox {
  display: flex;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;

  svg {
    display: block;
  }

  .search {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition: background-color .3s linear;
    cursor: pointer;

    &:hover {
      background-color: rgba(129, 145, 179, 0.08);
    }

    & > div {
      min-width: 48px;
    }
  }

  .notification {
    position: relative;
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition: background-color .3s linear;
    color: var(--basic-350);
    cursor: pointer;

    &:hover {
      background-color: rgba(129, 145, 179, 0.08);
    }

    .signal {
      background: var(--danger-400);
      width: 10px;
      height: 10px;
      position: absolute;
      top: 7px;
      right: 7px;
      border-radius: 50%;
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  margin-left: 18px;
  cursor: pointer;
  z-index: 2;

  &:hover {
    .name {
      color: var(--basic-600);
    }
  }

  .name {
    margin-left: 14px;
    font-size: $P;
    color: #8C95A8;
    transition: color .3s;
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-left {
  0% {
    transform: rotateY(180deg) translateX(0);
  }
  50% {
    transform: rotateY(180deg) translateX(3px);
  }
  100% {
    transform: rotateY(180deg) translateX(0);
  }
}
