@import '../../../../../static/styles/colors';

:global {
  .rst__tree {
    padding-bottom: 15px;
  }

  .rst__node {
    display: flex;
    //border-bottom: 1px solid $grayBorderLight;
    &:nth-child(2n) {
      background: #{rgba(var(--basic-200),0.08)}
    }

    .rst__lineBlock {
      flex: 0 0 auto;
    }

    .rst__nodeContent {
      left: auto !important;
      top: auto !important;
      position: relative !important;
      flex: 0 1 auto;
      width: 100%;
    }
  }

  .rst__rowWrapper {
    padding: 5px 0 5px 0;

    .rst__row {
      .rst__rowContents {
        background: transparent;
        padding: 0;

        border: none;
        box-shadow: none;

        .rst__rowLabel {
          display: flex;
          flex: 1 1;
          height: 100%;
          padding-right: 0;

          .rst__rowTitle {
            display: flex;
            flex: 1 1;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.componentWrapper {
  font-size: 1rem;
  font-weight: 600;
  min-height: 250px;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 100%;
  color: var(--basic-300);

  &.pending {
    display: flex;
    align-items: center;
  }

  .constructorContainer {
    display: flex;
    position: relative;
    min-height: 400px;

    .treeContainer {
      width: 100%;
    }

    .fileLoaderContainer {
      position: absolute;
      overflow: hidden;
      overflow-y: auto;
      z-index: 1;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
      top: 0;
      left: 0;
      height: 100%;
      background-color: var(--basic-w);
      width: 0;
      h5 {
        padding: 20px;
        color: var(--basic-txt);
        font-weight: 600;
      }

      &.isOpen {
        padding: 20px;
        width: 400px;
      }
      .filesContainer {
        display: flex;
        flex-direction: column;
        flex: 1 1;
        padding: 10px;
        .file {
          display: flex;
          justify-content: space-between;
          align-items: center;
          & > div:nth-child(1) {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: var(--basic-600);
          }
          & > div:nth-child(2) {
            cursor: pointer;
            font-size: 2rem;
            color: var(--danger-330);
          }
        }
      }
    }
  }
}

.nodeContainer {
  display: flex;
  flex: 1 1;
  color: black;
  width: 100%;

  &.notEditableNode {
    color: var(--basic-300);
  }


  &.selectedNode {
    background: #{rgba(var(--basic-500),0.02)}
  }

  .nodeCol {
    font-size: 1rem;
    font-weight: 300;

    &.titleCol {
      justify-content: left;
      flex: 1 1;
      min-width: 300px;
      overflow: hidden;
    }

    width: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;

    &:nth-child(1) {
      margin-left: 10px;
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    .editableField {
      width: 90px;
      overflow: hidden;
      max-height: 50px;
      // max-height: ;
    }
  }
}

.table {
  font-size: 0.8rem;
  color: var(--basic-300);
  position: absolute;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  &.relative {
    position: relative;
    width: calc(100% + 25px);
    background: var(--basic-030);
    padding-right: 17px;
  }

  .tableHeader {
    display: flex;
    height: 50px;
    border-bottom: 2px solid var(--basic-200);
    background: var(--basic-030);
  }

  .tableBody {
    flex: 1 1;
    display: flex;
    height: 100%;
    color: transparent;
  }

  .tableCol {
    // flex: 0 1;
    width: 90px;

    &.maxWidth {
      flex: 1 1;
    }

    padding: 0 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border-left: 1px solid var(--basic-500);

    &:nth-child(1) {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.actualValuesForm {
  min-width: 1000px;
  max-height: 600px;
  overflow-y: scroll;
}

.titleWrapper {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  padding: 0 15px !important;
  padding-top: 25px !important;
  border-bottom: 2px solid #dadada;

  .table {
    .tableHeader {
      border-bottom: none;
    }
  }

}

.modalTitle {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;

  .left {
    display: flex;
    justify-content: left;
    color: var(--basic-500);
  }

  .right {
    display: flex;
    justify-content: right;
    padding-left: 2rem;

    .editableField {
      min-width: 250px;
    }
  }
}
