@import "src/static/styles/colors";

.inputForm {
  position: relative;

  label {
    position: absolute;
    left: 3px;
    top: -20px;
    font-size: 14px;
    color: var(--basic-500);
  }

  .caption {
    font-size: 12px;
    position: absolute;
    left: 3px;
    bottom: -20px;
    color: var(--basic-500);
  }

  .help {
    font-size: 12px;
    position: absolute;
    top: -18px;
    right: 7px;
    color: var(--basic-500);
  }

  .control {
    position: absolute;
    bottom: 4px;
    right: 2px;
    cursor: pointer;
    background-color: inherit;

    .status {
      background: inherit;
      width: 28px;
      height: 32px;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      color: var(--basic-500);
      &.error {
        color: var(--danger-400);
      }

      &.warning {
        color: var(--warning-500);
      }

      &.success {
        color: var(--success-600);
      }

      &.password {
        color: var(--cyan-500);
      }
      &.spotlight {
        color: var(--basic-200);
        background: var(--cyan-50);
      }
    }
  }

  input {
    font-size: 16px;
    width: 100%;
    word-wrap: break-word;
    line-height: 1em;
    outline: 0;
    white-space: normal;
    min-height: 2em;
    background: var(--background-w);
    display: inline-block;
    padding: 10px;
    box-shadow: none;
    border: 1px solid var(--basic-200);
    border-radius: 2px;
    transition: box-shadow .1s ease, width .1s ease;
    -webkit-box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: #000;

    &:hover {
      border: 1px solid var(--basic-600);
    }

    &:focus {
      border: 1px solid var(--cyan-500);
    }
  }

  &.disabled {
    input {
      &:hover {
        border: 1px solid var(--basic-200);
      }

      &:focus {
        border: 1px solid var(--basic-200);
      }
    }
  }

  &.success {
    input {
      border: 1px solid var(--success-600);
    }
  }

  &.warning {
    color: var(--warning-500) ;
    input {
      border: 1px solid var(--warning-500);
    }
  }

  &.error {
    color: var(--danger-400);
    input {
      border: 1px solid var(--danger-400);
    }
  }

  &.spotlight {
    input {
      border: 1px solid var(--basic-200);
      box-shadow: 0 0 5px 4px var(--cyan-50);
    }
  }

  &.password {
    input {
      border: 1px solid var(--cyan-500);
    }
  }
}