@import '../../static/styles/colors';

.bigBtn {
  font-size: 2rem;
  width: 120px;
}

.gallery {
  width: 100%;
  min-height: inherit;
  height: inherit;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-around;
  margin-top: -20px;

  .left, .right {
    display: flex;
    flex-direction: column;
  }

  .left {
    flex: 1 1;
  }

  .right {
    align-items: center;

    .uploadCnt {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.noPhoto {
  padding: 2rem 1rem 0;
  display: flex;
  flex-wrap: wrap;;
}

.sampleImage {
  width: 100px;
  height: 100px;
  background: grey;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.current {
  background: blue;
}

.lastCurrent {
  background: red;
}

:global {

  .DayPicker-Months {
    flex-direction: column;
  }

  .DayPicker-Day {
    outline: none;
    position: relative;

    &.DayPicker-Day--today:not(.DayPicker-Day--outside) {
      background-color: var(--blue-80);
      color: var(--blue-380);
      &:hover {
        background-color: var(--blue-380) !important;
        color: var(--basic-w);
      }
    }

    &.DayPicker-Day--highlighted:not(.DayPicker-Day--outside) {
      background-color: var(--blue-380) !important;
      color: var(--basic-w);
      &:hover {
        background-color: var(--blue-380) !important;
      }
    }

    &.DayPicker-Day--hasPhoto:not(.DayPicker-Day--outside):before {
      position: absolute;
      content: "-";
      bottom: 4px;
      left: 10px;
      height: 2px;
      width: 10px;
      background-color: var(--blue-380);
      color: white;
    }
  }
}

.view {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.trackVertical {
  height: 100%;
  right: 0;
  background-color: var(--basic-030);
  border-radius: 3px;
}

.thumbVertical {
  background-color: var(--basic-050);
  border-radius: 3px;
}

.item {
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 20px 20px 0 0;
  background-color: rgba(153, 105, 51, 0.226);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  & > img {
    width: inherit;
  }

  .status {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    padding: 10px;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 10px;

  }
}

.preloader {
  display: flex;
  position: absolute;
  align-self: center;
  top: 50%;
}
