@import "src/static/styles/colors";

.topContainer {
  display: flex;
  flex: 1 1;
  background-color: var(--background-30);
  padding: 20px 40px;
  align-items: center;

  .left {
    flex: 1 1;
    display: flex;
    flex-direction: column;
  }

  .right {
    display: flex;
  }

  .right {
    justify-content: flex-end;

    .constructionDate {
      width: 150px;
      text-align: end;
      align-items: center;
      display: flex;
      height: 64px;
      justify-content: flex-end;
    }

    .progressBar {
      width: 70px;
      height: 70px;
      margin-left: 1rem;
    }
  }
}