@import "src/static/styles/colors";

.metaFieldContainer {
  font-size: 1em;
  .metaFieldValue, p {
    color: var(--basic-700);
    font-weight: 600;
  }

  .metaFieldName {
    color: var(--basic-350);
    &.danger {
      color: var(--danger-400);
    }
    &.lastFactDate {
      font-size: 0.8rem;
    }
  }
}