//@import 'src/static/styles/variables';
//@import 'src/static/styles/simple-grid';
@import "src/static/styles/colors.scss";

.nomatch {
  display: flex;
  max-width: 100vw;
  min-height: 100%;
  color: #97a3b4;
  background: var(--basic-030) url("/images/construction.jpeg") no-repeat right bottom;
  background-blend-mode: multiply;
  width: 100%;
  align-items: center;
  justify-content: center;

  & .text {
    font-weight: 700;
    font-size: 3rem;
  }
}
