.topContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  .innerContainer {
    position: fixed;
    top: 40px;
    display: flex;
    z-index: 45 ;
    min-width: 800px;
    margin: 0 0.6rem 0 1rem;
    justify-content: center;
    .searchContainerTop {
      max-width: 1400px;
      width: 100%;
      top: 0;
      display: flex;
      position: relative;
      justify-content: space-between;
      .search {
        width: 300px;
        .list {
          box-shadow: 2px 2px 7px 1px #c3c3c3;
        }
      }
    }
  }
}
