@import "src/static/styles/colors.scss";

.wrapper {

  .signUpContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;

    button {
      width: auto;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  .signUpForm {
    max-width: 430px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 50px;

    .fieldError {
      text-align: right;
      width: 100%;
      color: var(--orange-460);
      text-transform: lowercase;
      font-size: 0.8em;
      line-height: 0.8rem;
      padding-left: 0.4rem;
      min-height: 1.6rem;
    }

    .two_fields {
      display: flex;
      justify-content: space-between;
      width: 100%;

      label {
        flex: 0.45;
        flex-direction: column;
        display: flex;

        input {
          width: 100%
        }
      }
    }
  }

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    flex: 1;

    input {
      border: 1px solid #E1E5E9;
      padding: 10px;
    }
  }

  .submitBlock {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      width: auto;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
