@import '../../../../static//styles/colors.scss';

.reportCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 250px;
  height: 100%;
}

.tableHeader {
  display: flex;
  min-height: 50px;
  background: var(--background-w);
  align-items: stretch;
  border-top: 1px solid var(--basic-100);
}

.reports_header {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0 1rem;
}