@import 'src/static/styles/colors';
@import "src/static/styles/mixins";

.mainCardWrapper {
  height: inherit;
}


.mapWrapper {
  margin-left: -40px;
  margin-right: -40px;
  padding-top: 40px;
}

.mainCard {
  display: flex;
  width: 100%;
}

.iconWrapper {
  color: var(--basic-300);
  padding: 1rem;
  font-size: 4rem;
  > span {
    width: 100%;
    height: 100%;
  }
}

@include invertDark('.imageWrapper .image')

.imageWrapper {
  width: 362px;
  display: flex;
  height: 220px;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  flex: 0 0 auto;
  border: 1px solid var(--basic-600);
  &.isActive {
    cursor: pointer;
  }
  .image {
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}

.infoWrapepr {
  display: flex;
  flex-direction: column;

  .info {
    color: var(--basic-700);
    display: flex;
    flex: 1 1;
  }
}
