@import "src/static/styles/mixins";


.leftMenuContainer {
  margin-right: 15px;
}

.modalContentContainer {
  display: flex;
  align-items: flex-start;

  .col {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }
}

.filterContainer {
  position: relative;
  cursor: pointer;
  display: flex;

  .filter {
    background: transparent;

    &.open {
      color: var(--blue-380);
    }
  }

  .badge {
    position: absolute;
    border-radius: 50%;
    width: 18px;
    right: 3px;
    top: 6px;
    background: #FF8716;
    text-align: center;
    font-size: 0.6rem;
    height: 17px;
    line-height: 18px;
    color: white;
    font-weight: 600;
  }
}


