@import '../../../static/styles/colors';
@import '../../../static/styles/fonts';

.leftMenu {
  position: relative;
  padding-left: 16px;
  margin-right: 16px;
  overflow: hidden;

  --position-indicator-of-the-active-element: -45px;
  --time-transition: 300ms;

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--cyan-500);
    box-shadow: 8px 0px 16px var(--cyan-500);
    transform: translateY(var(--position-indicator-of-the-active-element));
    transition: transform var(--time-transition);
  }
}
.group {
  margin-bottom: 40px;
  transition: margin-bottom .3s;

  &:last-child {
    margin-bottom: 0;
  }
}
.list {
  display: block;
}
.menuItem {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;

  &.active {
    .iconWrapper {
      color: var(--cyan-500);
    }
  }
  &.clickable {
    transition: background-color .3s;
  }
  &:hover {
    .iconWrapper {
      color: var(--basic-w);
    }
    &.clickable {
      background-color:  rgba(129, 145, 179, 0.08);

      .text {
        color: var(--basic-w);
      }
    }
  }
  .text {
    font-size: $LABEL;
    color: var(--basic-200);
    flex-shrink: 0;
    transition: color .3s;
  }
  .iconWrapper {
    display: block;
    position: relative;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    font-size: 24px;
    color: var(--basic-600);
    overflow: hidden;
    transition: color .3s;
  }
}
.gropeTitle {
  display: block;
  margin: 0 0 10px 8px;
  font-weight: bold;
  font-size: $C;
  color: var(--basic-600);
  overflow: hidden;
  transform-origin: 0 50%;
  transition: transform .3s, margin .3s, font-size .3s;
  text-transform: uppercase;
}
.titleInner {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: normal;
  color: var(--basic-200);
  transition: color .3s;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    transition: background-color .3s;
    pointer-events: none;
  }
  &:hover {
    color: var(--basic-w);

    &::before {
      background-color:  rgba(129, 145, 179, 0.08);
    }
    .icon {
      color: var(--basic-w);
    }
  }
}
.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  font-size: 24px;
  color: var(--basic-600);
  transition: color .3s;
}
.accordion {
  background-color: transparent;
  transition: background-color .3s;

  &.isOpen {
    background-color: var(--basic-750);
  }
}
.accordionHeader {
  position: relative;
}
.accordionContent {
  border-top-color: var(--basic-800);
}
.accordionArrowWrapper {
  background-color: var(--basic-800);
  z-index: 1;
}
.isCollapsed {
  .group {
    margin-bottom: 0;
  }
  .gropeTitle {
    margin: 0;
    font-size: 0;
    transform: scale(0);
  }
  .accordionHeader {
    padding: 0;
  }
  .titleInner {
    padding: 10px;
  }
}