@import "../../static/styles/colors";

.modalContainer {
  position: absolute;
  z-index: 9000000;
}

.app {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-w);

  .main {
    display: flex;
    flex: 1 1;
    min-width: 1281px ;
    overflow: hidden;

    .nav {
      display: flex;
      min-width: 230px;
      height: 100vh;
    }

    .content {
      display: flex;
      flex-direction: column;
      flex: 1 1;
      margin-top: 76px;
      background-color: var(--background-w);
      min-width: 800px;
      overflow: auto;
      transition: margin-top .3s;

      &.isHideHeader {
        margin-top: 0;
      }
    }
  }
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--basic-w);
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
