@import '../../static/styles/colors';
@import '../../static/styles/mixins';

.topContainer {
  display: flex;
  flex: 1 1;
  background-color: var(--background-30);
  padding: 20px 40px;
  align-items: center;

  .left, .right {
    display: flex;
    .counter {
      color: var(--basic-350) ;
    }
  }

  .left {
    flex-direction: row;
    .viewContainer {
      > div {
        border: none;
      }
      display: flex;
      align-items: center;
      padding-left: 20px;
      .viewBtn {
        background: transparent;
        &:hover,
        &.activeBtn {
          background: var(--background-w);
        }
      }
    }
  }

  .right {
    flex: 1 1;
    justify-content: flex-end;
    .search {
      max-width: 500px;
    }
    .badge {
      position: absolute;
      border-radius: 50%;
      width: 18px;
      right: 20px;
      top: 6px;
      background: #FF8716;
      text-align: center;
      font-size: 0.6rem;
      height: 17px;
      line-height: 18px;
      color: white;
      font-weight: 600;
    }
    .filter {
      background-color: transparent;
      margin-right: 15px;
      font-size: 1rem;
      &.open {
        color: var(--blue-380);
      }
      &.isNotEmpty {
        background-color: var(--blue-220);
        color: var(--basic-w);
      }
    }
  }
}
