@import "src/static/styles/colors";


.tableClassificationContainer {
  display: flex;
  overflow-x: hidden;
  flex: 1 1;
  flex-direction: column;
  .header, .upperHeader {
    overflow-x: hidden;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    border-bottom: 1px solid rgba($basic-500, 0.32);
    .col {
      display: flex;
      padding: 6px 20px;
      font-weight: 600;
      text-transform: uppercase;
      color: var(--basic-350);
      align-items: center;

      overflow-wrap: anywhere;
      overflow: hidden;
      &.isGridNeeded {
        &:not(:last-child) {
          border-right: 1px solid rgba($basic-500, 0.32);
        }
      }

      &.first {
        border-right: 1px solid rgba($basic-500, 0.32);
      }
    }
  }

  .upperHeader > .col {
    justify-content: center;
    color: var(--basic-700);
  }

  .rows {
    display: flex;
    flex-direction: column;
    .row {
      display: flex;
      flex-direction: row;
      &:nth-child(2n-1) {
        background-color: var(--basic-050);
      }
      .col {
        display: flex;
        padding: 6px 20px;
        align-items: center;
        overflow-wrap: anywhere;
        overflow: hidden;
        &.isGridNeeded {
          &:not(:last-child) {
            border-right: 1px solid rgba($basic-500, 0.32);
          }
        }
        
        &.first {
          border-right: 1px solid rgba($basic-500, 0.32);
          > span {
            border: 1px solid var(--basic-150);
            border-radius: 3px;
            background-color: var(--basic-w);
            padding: 5px 10px;
          }
        }
      }
      .link {
        text-decoration: underline;
        cursor: pointer;
        color: var(--blue-700);
      }
    }
  }
  .noItemsContainer {
    display: flex;
    flex: 1 1;
    padding: 20px;
    font-weight: 600;
    justify-content: center;
    color: var(--basic-400);
  }
}