@import "src/static/styles/colors";

.appErrorContainer {
  padding: 0 40px;
  display: flex;
  height: 100vh;
  width: 100%;
  background: var(--basic-050);
  align-items: center;
  justify-content: center;
  color: var(--basic-350);
  flex-direction: row;
  .left, .right {
    display: flex;
    flex: 1 1;
    flex-direction: column;
  }

  .left {
    h2 {
      a {
        font-weight: 600;
        line-height: 1.3;
        font-size: 2rem;
      }
    }
    div:nth-child(3) {
      padding-top: 20px;
    }
  }
}