@import '../../../static//styles//colors.scss';

.multiSelectContainer {
  position: relative;
  width: 100%;
  min-width: 100px;

  .tag {
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-840);
    background-color: var(--cyan-50);
    border: none;
    border-radius: 4px;

    .controlBtn {
      align-self: center;
      margin: 0 5px;
      font-size: 1.4rem !important;
      color: var(--cyan-500);
      cursor: pointer;
    }
  }

  .checkboxContainer {
    display: flex;
    
    .checkbox {}
  }
}

:global {
  .multi-select-autocomplete {
    position: relative;
    padding: 6px 0 0 6px;
    border: 1px solid #D1D1D1;
    border-radius: 1px;

    /* shared font styles */
    font-size: 1em;
    line-height: 1.2;

    /* clicking anywhere will focus the input */
    cursor: text;
  }

  .multi-select-autocomplete.is-focused {
    border-color: #B1B1B1;
  }

  .multi-select-autocomplete__selected {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .multi-select-autocomplete__selected-tag {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    background: #F1F1F1;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  }

  .multi-select-autocomplete__selected-tag:hover,
  .multi-select-autocomplete__selected-tag:focus {
    border-color: #B1B1B1;
  }

  .multi-select-autocomplete__search {
    display: inline-block;

    /* match tag layout */
    padding: 4px 2px;
    margin-bottom: 6px;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
  }

  @media screen and (min-width: 30em) {

    .multi-select-autocomplete__search {
      /* this will become the offsetParent for suggestions */
      position: relative;
    }

  }

  .multi-select-autocomplete__search-input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  }

  .multi-select-autocomplete__search-input::-ms-clear {
    display: none;
  }

  .multi-select-autocomplete__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 500%;
    z-index: 1000;
  }

  @media screen and (min-width: 30em) {

    .multi-select-autocomplete__suggestions {
      width: 240px;
    }

  }

  .multi-select-autocomplete__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  .multi-select-autocomplete__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
  }

  .multi-select-autocomplete__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
  }

  .multi-select-autocomplete__suggestions li:hover {
    cursor: pointer;
    background: #eee;
  }

  .multi-select-autocomplete__suggestions li.is-active {
    background: #b7cfe0;
  }

  .multi-select-autocomplete__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
  }
}
