@import '../../../../../../static/styles/colors';
@import '../../../../../../static/styles/fonts.scss';

.reportContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;

  .noData {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    color: var(--basic-600);
  }

  &.header {
    padding: 0 1rem;
    background: transparent;
  }

  .controls {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: stretch;
    min-height: 50px;
    margin: 0 -40px;
    padding: 0 40px;
    box-shadow: 0 0 1px 1px rgba(59, 60, 69, 0.15);

    .title {
      display: flex;
      font-size: 1rem;
      font-weight: 400;
      align-self: center;
    }

    .leftPart {
      position: relative;
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    .rightPart {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;

      .selectControl {
        margin-right: 10px;
        min-width: 200px;
      }

      .groupBtn {
        display: flex;
        width: 80px;
        font-size: 1.15rem;
        border-radius: 5px;
        background-color: var(--background-w);
        border: 1px solid var(--basic-500);
        &.disabled {
          background-color: var(--basic-050);
          border: 1px solid var(--basic-150);
        }
        & > span {
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
          cursor: pointer;
          color: var(--basic-500);
          width: 50px;
          padding: 5px;
          &:hover {
            box-shadow: 0 0 2px 1px var(--basic-500);
          }
          &.disabled{
            color: var(--basic-150);
          }
        }
        .undo {
          transform: rotate(180deg);
          border-left: 1px solid var(--basic-500);
        }
      }
    }
  }

  .spinnerContainer {
    text-align: center;
    padding-top: 100px;
  }
}

.xLabelBox {
  height: 60px;
}

.xLabel {
  transform: rotate(-75deg);
  font-size: 0.8rem;
  width: 90px;
  transform-origin: 40% 80%;
  height: 80px;
  text-align: center;
  line-height: 6;
  margin: 10px;
  position: absolute;
  left: 15px;
}

.yLabelsTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
  height: 100%;
  
  .yLabelsTitleCol {
    display: flex;
    align-items: center;
    height: 100%;
    
    &.yLabelsFirstCol {
      align-items: flex-end;
    }

    &:nth-child(1) {
      width: 290px;
      margin-right: 20px;
      & .oneLine {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &:nth-child(2) {
      width: 90px
    }

    &:nth-child(3) {
      width: 90px;
    }
  }
}

.backIcon {
  color: var(--basic-750);
  position: absolute;
  left: -30px;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: $H6;
  transform: rotate(180deg);
  cursor: pointer;
}
