@import '../../../../static/styles/colors';
@import '../../../../static/styles/mixins';

.historyContainer {
  min-width: 1420px;
  & .contentContainer {
    & > .pagPendingContainer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($basic-w, 0.7);
    }
    
    & .pagPending {
      position: absolute;
      top: 25%;
      left: 50%;
    }

    & .colClassName {
      padding: 6px 10px !important;
    }
  }
}

.historyHeader {
  display: flex;
  flex: 1 1;
  justify-content: space-between;
  border-top: 1px solid var(--basic-100);
  border-bottom: 1px solid var(--basic-100);
  padding: 5px 0;
  align-items: center;

  .left, .right {
    display: flex;
  }

  .right {
    .filterContainer {
      position: relative;
      cursor: pointer;

      .filter {
        background: transparent;
        &.open {
          color: var(--blue-380);
        }
      }
  
      .badge {
        position: absolute;
        border-radius: 50%;
        width: 18px;
        right: 3px;
        top: 6px;
        background: var(--orange-460);
        text-align: center;
        font-size: 0.6rem;
        height: 17px;
        line-height: 18px;
        color: var(--basic-w);
        font-weight: 600;
      }
    }
  }
}