@import '../../../../static/styles/colors';
@import '../../../../static/styles/mixins';

.middleContainer {
  display: flex;
  flex: 1 1;
  padding: 20px 40px;
  align-items: center;
  background-color: var(--basic-w);

  .left {
    display: flex;
    flex-direction: row;
  }
}

.headerContainer {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  background-color: var(--background-30);
  padding: 0 40px;
  box-shadow: 0 0 1px 1px rgba(var(--basic-750), 0.15);

  .controlsContainer {
    display: flex;
    flex: 1 1;
    position: relative;

    .left {
      display: flex;
      flex: 1 1;
      align-items: center;
    }

    .controlItem {
      cursor: pointer;
      display: flex;
      justify-content: center;
      color: var(--basic-350);
      width: 120px;

      &:hover,
      &.active {
        a {
          span {
            color: var(--basic-750);

            &::after {
              opacity: 1;
            }
          }
        }
      }

      a {
        display: inline-block;
        padding: 1rem 0;
        text-align: center;
        color: var(--basic-300);

        span {
          display: inline-block;
          position: relative;
          width: 100%;

          &::after {
            content: '';
            position: absolute;
            width: 120px;
            height: 2px;
            background: var(--cyan-500);
            bottom: -15px;
            left: calc(-60px + 50%);
            opacity: 0;
            transition: opacity .3s linear;
          }
        }
      }

      &:nth-child(1) {
        padding-left: 0;
      }
    }

    &:hover {
      .controlItem:not(:hover).active {
        a {
          span {
            &::after {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .line {
    width: calc(100% + 80px);
    height: 1px;
    background-color: var(--basic-150);
    opacity: 0.5;
    margin: 0 -80px 0 -40px;
  }
}

.listContainer {
  width: 100%;
  margin: 0 20px;
}

.editIcon {
  font-size: 1.4rem !important;
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  padding: 0 40px;
  .row {
    display: flex;
    .label {
      display: flex;
      flex: 0.6 1;
      justify-content: center;
    }
    .input {
      display: flex;
      flex: 0.4;
    }
  }
}

.link {
  display: inline-block;
  padding: 1rem 0;
  color: var(--cyan-500);
  cursor: pointer;

    &:hover {
      color: var(--cyan-700);
    }
  }
