.topContainer {
  display: flex;
  flex: 1 1;
  background-color: var(--background-30);
  padding: 20px 40px;
  align-items: center;

  .left, .right {
    display: flex;
  }
  .left {
    flex: 1;
  }
}

.contentWrapper {
  padding: 40px;
  display: flex;
  flex: 1 1;
}

.filterContainer {
  position: relative;
  cursor: pointer;
  display: flex;

  .filter {
    background: transparent;

    &.open {
      color: var(--blue-380);
    }
  }

  .badge {
    position: absolute;
    border-radius: 50%;
    width: 18px;
    right: 3px;
    top: 6px;
    background: #FF8716;
    text-align: center;
    font-size: 0.6rem;
    height: 17px;
    line-height: 18px;
    color: white;
    font-weight: 600;
  }
}
