@import '../../static//styles//colors.scss';
@import '../../static//styles//fonts.scss';

.reportsListWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .reportLink {
        .itemContainer {
            position: relative;
            width: 266px;
            height: 266px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-radius: 2px;
            color: var(--basic-w);
            margin: 0 24px 24px 0;

            > .iconContainer {
                position: absolute;
                top: 0;
                right: 0;
                width: 50%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 56px;
                border-radius: 2px;
            }
            
            > .reportName {
                display: flex;
                align-items: flex-end;
                font-size: $P;
                font-weight: 600;
                padding: 10px 24px;
                z-index: 1;
            }

            > .linkIconContainer {
                width: 19%;
                height: 19%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 8px 24px 19px;
                font-size: $H3;
                color: var(--basic-w);
                border-radius: 2px;
            }
        }
    }
}

.reportsListMiniWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .itemMiniContainer {
        display: flex;
        justify-content: space-between;
        width: 266px;
        height: 50px;
        margin: 0 24px 24px 0;
        color: var(--basic-w);

        .reportMiniName {
            display: flex;
            align-items: center;
            padding-left: 10px;
            font-size: 13px;
            font-weight: 600;
        }

        .iconMiniContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            font-size: $H2;
            border-radius: 2px;
        }
    }
}
