@import 'static/styles/colors';
@import 'static/styles/fonts';

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.especialBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
}
.content {
  height: 100%;
  position: relative;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity .3s linear;

  &.active {
    opacity: 1;
  }
}
.imgWrapper {
  object-fit: contain;
  margin-bottom: 48px;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
  }
}
.label {
  position: relative;
  font-size: $H1;
  font-weight: 600;
  color: var(--basic-w);
  margin-bottom: 10px;
  z-index: 1;
}
.text {
  position: relative;
  font-size: $P;
  font-weight: 500;
  color: var(--basic-w);
  z-index: 1;
}
.dots {
  display: flex;
  position: absolute;
  bottom: 88px;
  left: 50%;
  transform: translateX(-50%);
}
.dot {
  padding: 6px;
  font-size: 0;
  line-height: 0;
  transform-origin: center;
  border-radius: 50%;
  cursor: pointer;
  
  &:before {
    content: '';
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.32);
    transition: transform .3s linear;
  }
  &:last-child {
    margin-right: 0;
  }
  &.active {
    pointer-events: none;

    &:before {
      transform: scale(1.5);
      background-color: var(--background-w);
    }
  }
}